body {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(58, 112, 58, 0.3);
}
h1, h2 {
  color: rgb(58, 112, 58);
}

/* Cabecera */

.cabecera {
  border-bottom: solid grey 2px;
  margin-bottom: 40px;
  width: 1020px;
  text-align: center;
}

#keepcoding {
  color: orange;
  font-weight: bold;
}

/* Formulario */

.creacionAnuncio {
  border-bottom: solid grey 2px;
  margin-bottom: 40px;
}

.creacionAnuncio h2 {
  text-align: center;
}

.form {
  width: 1020px;
}

.form__campo__tags input:checked + label {
  color: black;
}

#checkbox_validador:empty{ 
  display: none;
}

#checkbox_validador {
  background-color: rgb(233, 195, 208);
  color: red;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 5px;
  text-align: center;
}

.form__campo__boton input {
  background-color: rgb(58, 112, 58);
  border-color: rgb(58, 112, 58);
  color: rgb(46, 45, 45);
}

/* Catálogo */

.catalogo {
  text-align: center;
}

.grid {
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  justify-items: center;
}

.producto {
  width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: solid 3px rgb(58, 112, 58);
  border-radius: 10px;
  background-color: rgba(58, 112, 58, 0.3);
}


#nombre_producto {
  text-decoration: underline;
}

#precio_producto {
  font-weight: bold;
}

.producto img {
  width: 40%;
}

.error p {
  color: red;
  border: solid 5px red;
  border-radius: 10px;
  padding: 5px;
}



