body {
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Formulario */

.form__campo__tags input:checked + label {
  color: black;
}

#validador:empty{ 
  display: none;
}

#validador {
  background-color: rgb(233, 195, 208);
  color: red;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 5px;
  text-align: center;
}

/* Catálogo */

.producto {
  width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: solid 3px black;
  border-radius: 10px;
}

#keepcoding {
  color: orange;
}

#nombre {
  text-decoration: underline;
}

#precio {
  font-weight: bold;
}

.producto img {
  width: 40%;
}

.error p {
  color: red;
  border: solid 5px red;
  border-radius: 10px;
  padding: 5px;
}



